@use "../base/vars";
@use "../mixins/mediaQuery" as mixins;

.homeBanner {
  height: 40vh;
  background-color: vars.$clr-main;
}

.homeBannerImage {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 40vh;
  width: 100%;
}

.homeBannerImage_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@include mixins.media-query(medium) {
  .homeBanner,
  .homeBannerImage {
    height: 110vh;
  }
}
